<div class="col-md-12">
   <div class="row box">
     <div class="box-inner col-md-6 col-md-offset-3">
       <h1 class="title">山峰島嶼</h1>
       <p class="slogan">台灣山域領航的專業團隊
         <br>
         <br>
         我們提供一流的薪資及完善的後勤支援
         <br>
         帶著新朋友去見見我們的山
       </p>
       <p class="lead">
         <%= link_to '往山裡去', jobs_path, class: 'btn btn-danger' %>
       </p>
     </div>
   </div>
 </div>




 <div class="content-section-a">
   <div class="container">
     <div class="row">
       <div class="col-lg-5 col-sm-6">
         <hr class="section-heading-spacer">
         <div class="clearfix"></div>
         <h2 class="section-heading">大師開路</h2>
         <p class="lead">有大師級團隊，讓你各種專業知識立即提升！</p>
       </div>
       <div class="col-lg-5 col-lg-offset-2 col-sm-6">
         <%= image_tag 'http://i.imgur.com/tnH7Sod.jpg', class: 'img-responsive' %>
       </div>
     </div>
   </div>
 </div>

 <div class="content-section-b">
   <div class="container">
     <div class="row">
       <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
         <hr class="section-heading-spacer">
         <div class="clearfix"></div>
         <h2 class="section-heading">國際廠商贊助</h2>
         <p class="lead">各種接通國際的管道 <a target="_blank" href="http://www.arcteryx.com/Home.aspx?country=tw&language=zh">Arc'teryx</a>! </p>
       </div>
       <div class="col-lg-5 col-sm-pull-6  col-sm-6">
         <%= image_tag 'http://i.imgur.com/cmiXkA9.jpg', class: 'img-responsive' %>
       </div>
     </div>
   </div>
 </div>

 <div class="content-section-a">
   <div class="container">
     <div class="row">
       <div class="col-lg-5 col-sm-6">
         <hr class="section-heading-spacer">
         <div class="clearfix"></div>
         <h2 class="section-heading">不定期海外攀登團<br></h2>
         <p class="lead">公司員工參加提供全額贊助<a target="_blank" href="https://forum.qzy.camp/">時程表</a></p>
       </div>
       <div class="col-lg-5 col-lg-offset-2 col-sm-6">
         <%= image_tag 'http://i.imgur.com/ykLfwJo.jpg', class: 'img-responsive' %>
       </div>
     </div>
   </div>
 </div>
