

<div class="footer">
<footer class="text-center">
  <div class="container-fluid">
    <div class="row">
   <div class="footer-below">

   					<div class="col-md-4 col-sm-4 col-xs-12"><!-- start first footer widget area -->
   						<div id="text-3" class="widget widget_text"><!-- widget_text -->
   							<h4 class="widget_title">關於我們</h4>
   							<div class="logo_widget">
   								<!-- <img src="//d1iwwwy2d2pbog.cloudfront.net/production/assets/new_layout/news_logo_white-867338cba85b3a08b004123dc5fb821d6763bc1690c3a0e3b403730ba43aadba.png" alt="Logo"> -->
   								<h5>台灣第一家專注「台灣山岳」領域的，我們提供最優質的工作待遇，以及最完整的職業訓練....
   									<a class="read-more" href="/about">看完整介紹</a>
   								</h5>
   								<h5>© Rails101 By Alix-Dai</h5>
   							</div>
   							<div class="textwidget">
   							</div>
   						</div>	<!-- // widget_text -->
   					</div><!-- end first footer widget area -->

   					<div class="col-md-4 col-sm-4 col-xs-12"><!-- start third footer widget area -->
   						<div class="widget widget_recent_post"><!-- Start widget recent post -->
   							<h4 class="widget_title">聯絡我們</h4>
   							<h5>合作洽談、文章轉載、報導需求、建議想法，歡迎寫信給我們！</h5>
  <div class="col-sm-4">

        <a href="mailto:cavalier121@gmail.com" target="_new" class="icoVote"><i class="fa fa-envelope-o" aria-hidden="true"></i></a>
        <a href="https://www.facebook.com/" target="_new" class="icoGitHub"><i class="fa fa-facebook-official" aria-hidden="true"></i></a>
        <a href="http://cavalier1212-blog.logdown.com/f" target="_new" class="icoRss"><i class="fa fa-rss"></i></a>

  </div>
   						</div><!-- End widget recent post -->
   					</div><!-- end third footer widget area -->

   					<div class="col-md-4 col-sm-4 col-xs-12"><!-- start first footer widget area -->
   						<div class="widget widget_recent_comments"><!--Start widget recent comments -->
   							<h4 class="widget_title">合作夥伴</h4>
   							<span><a href="https://www.facebook.com/tpshanshuitc/" target="_blank"> 台北山水 </a></span>
   					        <span>|</span>
   					        <span><a href="http://www.polarstar.tw/Taoyuan/index.aspx" target="_blank"> 桃源戶外 </a></span>
   					        <span>|</span>
   					        <span><a href="http://www.sunandtree.com.tw/v2/official" target="_blank"> 鄉野情 </a></span>
   					        <span>|</span>
   					        <span><a href="http://www.arcteryx.com/Home.aspx?country=tw&amp;language=zh" target="_blank"> Arc'teryx </a></span>
   					        <br>
   					        <span><a href="http://shop.mammut.com/home/index/628.0" target="_blank"> Mammut </a></span>
   					        <span>|</span>
   					        <span><a href="http://www.unrv.com.tw/" target="_blank"> UNRV </a></span>
   					        <span>|</span>
   					        <span><a href="http://www.ysnp.gov.tw/default.aspx" target="_blank"> 玉山國家公園 </a></span>
   					        <span>|</span>
   					        <span><a href="http://www.primus.tw/" target="_blank"> Primus </a></span>

   						</div><!--End widget recent comments -->
   					</div><!-- end first footer widget area -->
   					<!--<div class="hmztop" style="bottom: 14px;">Scroll To Top</div><!-- hmztop -->
          </div>
   				</div>
   			</div>
   	</footer>
</div>
